# Byte-compiled / optimized / DLL files
__pycache__/
yolov8x.pt

# Distribution / packaging
input_videos/
training/
!training/training_yolo_v5.ipynynb
models/
runs/
build/
wheels/
*.egg-info/
*.egg

# Environments
.env
venv/